body {
    font-family: 'Lobster', sans-serif;
    font-size: 18px;
}

header {
    margin-bottom: 2rem;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

.book-details {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.book-details p {
    margin: 0;
}
